parameters:
    fileExtensions:
        - php
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Method P3\\Plates\\Extension\:\:register\(\) has no return type specified#'
        - '#callback of method League\\Plates\\Engine\:\:registerFunction\(\) expects callable\(\)#'

